.table {
    background-color: black;
    color: var(--foreground);
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    max-width: 1200px;
}

.table thead th {
    text-align: center;
    font-weight: 800;
}

.table tbody td {
    text-align: center;
    color: var(--muted-foreground);
}